*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  background-color: rgb(48, 45, 45);
}
.card{
  width: 300px;
  margin: 100px auto 0;
  background: linear-gradient(135deg , rgb(48, 219, 139) , rgb(208, 31, 243));
  padding: 20px;
  border-radius: 9px;
}
.input-box{
  width: 100%;
  display: flex;
  align-items: center;
}
.input-box input{
  flex: 1;
  padding:  10px;
  border: 0;
  outline: 0;
  border-radius: 19px;
  margin-right: 10px;
}
.input-box button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-box button img{
  width: 15px;
}
.weather{
  text-align: center;
  color: white;
}
.weather .wicon{
  width: 150px;
  margin : 20px 0;

}
.weather h2{
  margin: 10px 0 30px;
}
.weather .column{
  display: flex;
}
.bottom{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.column img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.column p{
  font-size: 13px;
  margin-top: 6px;
  font-weight: 500;
}
.error{
  color: white;
  margin: 10px 0;
  font-size: 13px;
  display: none;
}
.weather{
  display: none;
}